.button {
  cursor: pointer;
  font: inherit;
  border: none;
  background-color: rgb(46, 182, 46);
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;
  color: #ccc;
  outline: none;
}

.button:hover,
.button:active {
  background-color: lime;
  color: white;
}

.icon {
  width: 1.7rem;
  height: 1.7rem;
  margin-right: 0.5rem;
}

.badge {
  width: 2rem;
  height: 2rem;
  /* border: 2px solid white; */
  border-radius: 50%;
  margin-left: 1rem;

  position: relative;
}

.badge span {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bump {
  animation: bump 300ms ease-out;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
.full {
  color: black;
  width: 2.1rem;
  height: 2.1rem;
  font-weight: bold;
  font-size: 1.2rem;
}
.rotator {
  position: relative;
  top: 0;
  left: 0;
  width: 2.1rem;
  height: 2.1rem;
  border-radius: 50%;
  background: transparent;
  border-left: 4px solid transparent;
  border-top: 1px solid white;
  border-right: 2px solid white;
  border-bottom: 4px solid white;
  animation: spin 4s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 550px) {
  .button {
    padding: 0.2rem 0.4rem;
  }
}
