.cart-items {
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 400px;
  overflow: auto;
  overflow-x: hidden;
}
.cart-items ul {
  padding: 0 1rem;
}
.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 1rem;
}
.actions {
  text-align: right;
}

.actions button {
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: none;
  padding: 0.3rem 2rem;
  border-radius: 20px;
  margin: 0 1rem;
  transition: all ease 0.2s;
  color: white;
  border: 2px solid limegreen;
}
.actions .button--alt {
  border: 2px solid rgb(199, 35, 35);
}
.actions button:hover,
.actions button:active {
  background-color: limegreen;
}

.actions .button--alt {
  color: black;
}
.actions .button--alt:hover {
  background: rgb(199, 35, 35);
  color: white;
}

.actions .button {
  background-color: limegreen;
}
