.form {
  margin: 1rem 0;
  height: 19rem;
  overflow: scroll;
  padding-left: 20px;
  overflow-x: hidden;
  overflow-y: auto;
}

.control {
  margin-bottom: 0.5rem;
}

.control label {
  font-weight: bold;
  margin-bottom: 0.25rem;
  display: block;
}

.control input {
  font: inherit;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: calc(100% - 20px);
  max-width: 100%;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-right: 20px;
}

.actions button {
  font: inherit;
  color: #5a1a01;
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: 25px;
  padding: 0.5rem 2rem;
  border: 2px solid rgb(199, 35, 35);
  transition: all ease 0.3s;
  outline: none;
}

.actions button:hover,
.actions button:active {
  background-color: rgb(199, 35, 35);
  color: white;
}

.actions .submit {
  border: 2px solid limegreen;
  background-color: limegreen;
  color: white;
}

.actions .submit:hover,
.actions .submit:active {
  transform: scale(1.05);
  background-color: limegreen;
}

.invalid label {
  color: #ca3e51;
}

.invalid input {
  border-color: #aa0b20;
  background-color: #ffeff1;
}
